<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Adivina el número</title>
</head>

<body>
  <header class="header">
    <h1 class="header__title">Adivina el número</h1>
  </header>
  <main class="main">
    <form action="/signup" method="post" class="main__title">
      <label for="main_number">Introduce aquí tu número</label>
      <input type="number" class="main_number">
      <input type="submit" value="Prueba">
    </form>
    <div class="counter">
      <p class="counter__number">0</p>
    </div>
    <p class="main__result">Escribe un número y dale a Prueba</p>
  </main>

</body>

</html>